# Node dependencies & builds
**/node_modules/
**/dist/
**/dist-ssr/

# Java Maven builds
**/target/
**/.mvn/wrapper/maven-wrapper.jar

# IDE & OS files
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
*.log

# Environment files
.env
.env.local
